body{
background-color: #d6d2c4;
margin:0;
}
 ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow:auto;
  background-color: #968c83;
}
li {
  float: left;
  padding-inline: 1em 5em;
}
li a {
  display: block;
  color: #d6d2c4;
  text-align: center;
  padding: 16px;
  text-decoration: none;
} 
 li a:hover {
  background-color:#968c83;
  color: white;
  font-size:15px;
  font-weight:300;
} 
.fav{
  padding-top: 2px;
  margin-top:5px;
}
.image-style{
  border-radius: 50%;
  width:15%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.center{
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
  margin: auto;
  width: 50%;
  color: #493323;
  /* border: 1px solid #968c83; */
  padding: 10px;
  
}